<h2>What would you like to encode?</h2>

<form action="/shift/" method="POST">
  Message: <input type="text" name="message">
  <br/>
  Shift Factor: <input type="number" name="shift_factor">
  <br/>
  <input type="submit" value="Encode Message">
</form>